@model LedgerMVC.Models.ChargeItem
@{
    ViewBag.Title = "EditRecord";
    Layout = "";
}

<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <h2>更新記帳紀錄</h2>
        </div>
    </div>
    
    @*@using (Html.BeginForm("EditRecord", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(d => d.ChargeType, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                           @Html.DropDownListFor(d => d.ChargeType,
                               new List<SelectListItem> {
                                    new SelectListItem { Value = "0" , Text = "支出" },
                                    new SelectListItem { Value = "1" , Text = "收入" },
                                },
                                new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.ChargeType, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.ChargePrice, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(d => d.ChargePrice, new { htmlAttributes = new { @class = "form-control", placeholder = "金額" } })
                            @Html.ValidationMessageFor(d => d.ChargePrice, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.ChargeDate, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(d => d.ChargeDate, "DateTime")
                            @Html.ValidationMessageFor(d => d.ChargeDate, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.Memo, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(d => d.Memo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(d => d.Memo, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-4">
                            <button type="submit" class="btn btn-default">更新</button>
                        </div>
                    </div>
                }*@
</div>