@using MvcPaging
@model IPagedList<LedgerMVC.Models.ChargeItem>
@{
    Layout = "";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@helper changeChargeTypeTextColor(string chargeType)
{
if (chargeType.Equals("支出"))
{
        <p class="text-danger">@chargeType</p>
}
else
{
        <p class="text-info">@chargeType</p>
}
}
<table id="ChargeList" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>類別</th>
            <th>日期</th>
            <th>金額</th>
            <th>備註</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chargeItem in Model)
        {
            <tr>
                <td>@chargeItem.ChargeRecordId</td>
                @*<td>@chargeItem.ChargeType</td>*@
                <td>@changeChargeTypeTextColor(@chargeItem.ChargeType)</td>
                <!--日期 TO String-->
                <td>@Html.DisplayFor(d=> chargeItem.ChargeDate)   @*@chargeItem.ChargeDate.ToString("yyyy-MM-dd")*@</td>
                <!--Int to Currency String-->
                <td>NT$ @chargeItem.ChargePrice.ToString("#,###")</td>
                <td>
                    <textarea cols="50" rows="5">
                        @chargeItem.Memo
                    </textarea>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--實作分頁功能-->
<div class="pagination pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    Displaying @Model.ItemStart - @Model.ItemEnd of @Model.TotalItemCount item(s)
</div>
