@model LedgerMVC.Models.ChargeItem
@{
    Layout = "";
}

<div class="well">
        @using (Html.BeginForm("Index", "Charge",FormMethod.Post,new {Id="addNewChargeForm",@class="form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="ChargeType" class="col-sm-2 control-label">類別</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.ChargeType,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "0" , Text = "支出" },
                       new SelectListItem { Value = "1" , Text = "收入" },
                    },
                  new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="ChargePrice" class="col-sm-2 control-label">金額</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ChargePrice, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "金額" } })
                    @Html.ValidationMessageFor(model => model.ChargePrice)
                </div>
            </div>
            <div class="form-group">
                <label for="ChargeDate" class="col-sm-2 control-label">日期</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ChargeDate, new { htmlAttribute = new { @class = "form-control",@readonly = "readonly"}})
                    @Html.ValidationMessageFor(model => model.ChargeDate)
                </div>
            </div>
            <div class="form-group">
                <label for="Memo" class="col-sm-2 control-label">備註</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.Memo, new { htmlAttribute = new { @class = "form-conrtol", PlaceHolder = "備註" } })
                    @Html.ValidationMessageFor(model => model.Memo)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        }
</div>
